#preloader
  #status
    %p.center-text
      Loading the content...
      %em Loading depends on your connection speed!
.homepage-wrapper
  %img.homepage-logo{:alt => "img", :src => "assets/slasher/images/misc/logo.png"}/
  %em.homepage-logo-sub Creative Simplicity
  .homepage-navigation
    - if current_user.blank?
      %a.facebook-icon{:href =>  '/users/auth/facebook'} Login
    - else
      %a.type-icon{:href => welcome_show_path } Start Journey
    .clear
  .footer
    .clear
    %p.homepage-copyright
      Copyright 2015.
      = succeed "Awesome Journey" do
        %br/
.homepage-background
  .bg-pattern
  .bg-overlay
  %img#bg{:alt => "img", :src => "assets/slasher/images/bg.png"}/
